@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Monsieur+La+Doulaise&display=swap');
.home{
    height: 100%;
    width: 100%;
    .paper{
        display: flex;
        width: 100%;
        flex-direction: column !important;
        align-items: center;
        
        .news{
            color: #111;
            overflow: hidden;
            z-index: 9999;
            position: sticky;
            background-color: #eee;
            border-radius: 5px;
            width: 100%;
            display: flex;
            box-shadow: 10px 5px 5px #888;
            border-bottom: 2px solid #888;
            flex-direction: column !important;
            align-items: center;
            .i{
                width: 90%;
                height: 90%;
                border-radius: 2px solid #000;
            }
            span{
                display: flex;
                flex-direction: row !important;
                justify-content: space-between;
                align-items: center;
                .newstext{
                    font-family: "Fraunces",serif;
                    font-weight: 600;
                    margin: 0 !important;
                    padding: 0 !important;
                    font-size: 3vh;
                }
                h1{
                    font-family: "Monsieur La Doulaise",sans-serif;
                    font-size: 6vw;
                    margin: 0 !important;
                    padding: 0 !important;
                }
            }
        }
        h1{
            font-size: 3vw !important;
            font-family: "Oswald",sans-serif;
            margin: 0 1%;
            display: block;
        }
        .box{
            display: flex;
            padding: 0 2%;
            flex-direction: row ;
            width: 100% !important;
            height: 100vh;
            h2{
                font-family: "Prata",serif;
                text-align: center;
                padding: 2% 0;
                font-size: 2.1vw !important;
            }
            div{
                width: 25%;
                padding: 0;
                margin: 0;
                border-right: #888 2px solid;
                display: flex;
                flex-direction: column !important; 
                .idiv{
                    border: none;
                    height: 90%  !important;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .itext{
                        padding: 0 3%;
                        font-size: 1.9vh;
                        font-family: "Poppins",sans-serif;
                        margin: 0;
                    }
                    img{
                        height: 50%;
                        border-radius: 5px;
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        transition: all ease 1s;
                        &:hover{
                            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(0%);
                        }
                    }
                } 
                
                &:nth-child(1){
                    width: 40%;
                }
                &:nth-child(2){
                    h3{
                        font-family: "Newsreader",sans-serif;
                        font-size: 1.6vw;
                        margin: 6% 3%;
                    }
                }
                &:nth-child(3){
                    border: none;
                    width: 25%;
                    div{
                        border: none;
                        width: 100%;
                    }
                    a{
                        font-family: "Fraunces",sans-serif;
                        font-size:1.6vw;
                        outline: none;
                        color: #000;
                        margin: 3% 1%;
                        text-decoration: none;
                        transition: all ease .3s;
                          
                        &:hover{
                            color: #1d3557;
                            font-size: 1.7vw;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        .news{
            .newstext{
                font-size: 2vw !important;
            }
        }
        h1{
            font-size: 3.2vw !important;
        }
        .box{
            div{
                img{
                    height: 40% !important;
                }
                &:nth-child(1){
                    width: 50% !important;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .news{
            .newstext{
                font-size: 2vw !important;
            }
        }
        h1{
            font-size: 3.2vw !important;
        }
        .box{
            flex-direction: column !important;
            h2{
                text-align: left !important;
            }
            h3{
                margin: 2% !important;
            }
            div{
                .idiv{
                    flex-direction: column !important;
                    align-items: center;
                    img{
                        display: none;
                    }
                }

                &:nth-child(1){
                    width: 50% !important;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        .news{
            .newstext{
                font-size: 2vw !important;
            }
        }
        h1{
            font-size: 3.2vw !important;
        }
        .box{
            width: 100% !important;
            div{
                border: none !important;
                width: 100% !important;
                height: auto;
                .idiv{
                    flex-direction: column !important;
                    align-items: center;
                    width: 200% !important;
                    img{
                        width: 40% !important;
                        height: 40% !important;
                    }
                }

                &:nth-child(1){
                    width: 50% !important;
                }
            }
        }
    }
}